@font-face {
  font-family: "Brutal Type";
  src: url('../fonts/brownfox_-_brutal_type.woff2') format('woff2'),
       url('../fonts/brownfox_-_brutal_type.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 14px;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Brutal Type";
  font-size: 1rem;
  font-weight: 400;
  color: #262626;
  position: relative;
  height: 100%;
  background-color: white;
}
@media (min-width: 768px) {
  body {
    background-color: #efefef;
  }
}
h1,
.h1 {
  margin-bottom: 1.5rem;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.weight-normal {
  font-weight: 400;
}
.mb-2rem {
  margin-bottom: 2rem;
}
.a-tranc {
  display: inherit;
}
.a-black {
  color: inherit;
}
.a-black:hover,
.a-black:focus {
  color: inherit;
  text-decoration: none;
}
.btn {
  padding: 0.9rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.btn-qr {
  border: 2px solid #d7d7d7;
  background-color: #d7d7d7;
}
.btn-repeat {
  background-color: white;
  border: 2px solid #262626;
}
.btn-label {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 0;
  display: inline-block;
}
.btn-label:hover,
.btn-label:focus {
  background-color: #fff;
  border-color: #f5f5f5;
}
.btn-label.active {
  background-color: white;
  border-color: #dadada;
}
.btn-qr:hover,
.btn-repeat:hover {
  background-color: #262626;
  border: 2px solid #262626;
  color: white;
}
.btn-logout {
  color: white;
  border: 1px solid #e65e5b;
  background-color: #9d050285;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.btn-logout:hover {
  background-color: #262626;
  color: white;
}
@media (min-width: 600px) {
  .btn-logout {
    font-size: 1rem;
  }
}
.input-group-lg > .form-control {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}
.input-group-lg > .input-group-append > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 0;
  border-radius: 0;
}
@media (min-width: 450px) {
  .input-group-lg > .input-group-append > .btn {
    padding: 0.5rem 2rem;
  }
  .input-group-lg > .form-control {
    font-size: 1.25rem;
  }
}
.p-24 {
  font-size: 1.5rem;
}
.p-grey {
  color: #d7d7d7;
}
.p-dgrey {
  color: #838383;
}
.p-medium {
  font-weight: 500;
}
.p-ardor {
  border-top: 1px solid #d4d4d4;
  font-size: 1.1rem;
  padding-top: 1.5rem;
  margin-top: 0.5rem;
  display: inline-block;
}
.p-descr {
  padding: 1rem 1rem;
  margin: auto;
}
@media (min-width: 610px) {
  .p-ardor {
    font-size: 2rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
  }
  .p-descr {
    padding: 1rem 3rem;
    margin: auto;
  }
}
.p-balance {
  display: inline-block;
  color: #75af8f;
  line-height: 3rem;
  margin-bottom: 0;
}
.p-crypto-name {
  display: inline-block;
  line-height: 3rem;
  margin-bottom: 0;
}
.p-end {
  margin-top: 20px;
}
.p-noscroll {
  overflow: hidden;
}
.p-property {
  margin-right: 10px;
  font-size: 0.8rem;
  background-color: #e2f0e4;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  line-height: 2rem;
}
@media (min-width: 600px) {
  .p-property {
    padding: 0.5rem 0.8rem;
  }
}
.caption {
  font-weight: 500;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 3px solid #c0392b;
}
.balance-stroke {
  padding: 10px 0;
  border-bottom: 1px solid #d7d7d7;
}
.card-body {
  padding: 1.25rem 0;
}
.red .form-control {
  border-color: white;
}
.red .input-group {
  margin-top: 2rem;
}
.red .input-check {
  margin-top: 0;
}
.lable-box {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.lable-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.lable-box-fee {
  margin: 0;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  top: 1.15rem;
  height: 15px;
  width: 15px;
  background-color: #eee0;
  border: 2px solid #262626;
}
.checkmark2 {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #eee0;
  border: 2px solid #262626;
  margin-right: 5px;
  margin-bottom: -1px;
}
.red .checkmark {
  background-color: #eee0;
  border: 2px solid white;
}
.label-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.checkmark:after,
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.btn-label input[type="radio"]:checked ~ .checkmark2:after {
  margin-left: 2px;
  margin-top: 2px;
  width: 7px;
  height: 7px;
  background-color: #c0392b;
  display: block;
}
.lable-box input:checked ~ .checkmark:after {
  display: block;
}
.lable-box .checkmark:after {
  left: 2px;
  top: 2px;
  width: 7px;
  height: 7px;
  background-color: #c0392b;
}
.red .lable-box .checkmark:after {
  background-color: black;
}
.red {
  background-image: url(../img/fon.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: red;
  color: white;
  position: relative;
  min-height: 90vh;
  padding-top: 25px;
}
.row-auth {
  min-height: 60vh;
}
.btn-arrow {
  background-color: #262626;
  padding-right: 30px;
}
.btn-arrow:hover,
.btn-arrow:focus {
  background-color: #3a3a3a;
}
.img-arrow {
  height: 1.2rem;
  margin-top: -3px;
}
.img-profile {
  margin-bottom: 15px;
}
.img-wallet {
  width: 20px;
  height: 23px;
  margin-right: 5px;
  background-image: url(../img/wallet.png);
  display: inline-block;
  margin-bottom: -0.2rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: 610px) {
  .img-wallet {
    width: 40px;
    height: 38px;
    margin-right: 15px;
  }
}
.logo-crypto {
  margin: auto;
  max-width: 38px;
  max-height: 38px;
}
.logo-crypto-box {
  width: 38px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.logo-box {
  display: inline-block;
}
.logo-box img {
  width: 125px;
}
@media (min-width: 600px) {
  .logo-box img {
    width: 200px;
  }
  .img-arrow {
    height: 1.7rem;
    margin-top: -3px;
  }
  .logo-crypto {
    margin: auto;
    max-width: 48px;
    max-height: 48px;
  }
  .logo-crypto-box {
    width: 48px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
}
.red-header {
  background-image: url(../img/fon_header.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: red;
  position: relative;
  height: 68px;
  padding-top: 13px;
}
@media (min-width: 600px) {
  .red-header {
    height: 126px;
    padding-top: 25px;
  }
}
.grey-bck {
  background-color: #efefef;
  padding: 0;
}
.white-bck {
  background-color: white;
  padding: 40px 15px;
  box-shadow: inset 0 0.1rem 0 rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .white-bck {
    padding: 60px 60px 120px 60px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .grey-bck {
    padding: 45px 0;
  }
}
.this-nav .nav-link {
  display: block;
  padding: 1rem 1rem;
}
.this-nav .nav-item a {
  border-bottom: 3px solid white;
  text-transform: uppercase;
  color: #262626;
  font-size: 14px;
}
.this-nav .nav-item .active {
  border-color: #c0392b;
}
.nav-wrapper {
  z-index: 2;
  opacity: 0.99;
  border-top: 3px solid white;
  background-color: white;
}
@media (min-width: 600px) {
  .this-nav .nav-item a {
    font-size: inherit;
  }
  .this-nav .nav-link {
    padding: 1.3rem 2rem;
  }
}
.operations-box {
  margin-top: 10px;
}
@media (min-width: 600px) {
  .operations-box {
    margin-top: 40px;
  }
}
.operation-stroke {
  padding: 1.5rem 0;
  border-bottom: 1px solid #d7d7d7;
}
.send-box {
  padding: 2rem 0;
  border-top: 3px solid #c0392b;
  margin-top: -1px;
}
.send-form {
  width: 100%;
}
.form-control {
  padding: 0.9rem 1rem;
  border-radius: 0;
  border-color: #d7d7d7;
}
.check-block {
  background-color: #f5f5f5;
  border: 2px solid #f5f5f5;
}
.check-block:hover,
.check-block:focus {
  background-color: white;
  border-color: #c0392b;
}
.footer {
  background-color: #262626;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 90px;
    padding-bottom: 25px;
  }
}
.footer-p {
  color: grey;
}
.footer-a {
  display: block;
  color: #838383;
}
.footer-a:hover {
  color: white;
  text-decoration: none;
}
.wrapper {
  height: 100%;
}
.flex-grow-1 {
  flex-grow: 1;
}
.sigbro-input {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sigbro_alerts--sub_section {
  text-align: left;
  border-bottom-style: solid;
  border-color: red;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.sigbro_alerts--button_dropdown {
  text-align: left;
  padding: 0.5rem !important;
}

.sigbro_alerts--alert {
  position: fixed; 
  color: black;  
}